html {
  background-color: #f1f6f9;
  background-image: url(https://images.unsplash.com/photo-1547516508-4c1f9c7c4ec3?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1180&q=80);
  background-repeat: no-repeat;
  background-size: cover;
  
}
.searchBtn {
  height: max-content;
  border-radius: 3px;
  margin-left: 5px;
}
.searchBtn:hover {
  background-color: lightgrey;
}
.sub1 {
  border-radius: 5px;
}
.sub1::placeholder {
  color: grey;
}

